@{

    var tenured = Model.isTenured ? "Permanent" : "Probationary";
}

@model Instructor;

<table class="table table-dark">
    <tr>
        <th colspan="10">Instructor</th>
    </tr>
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.FirstName @Model.LastName</td>
    </tr>
    <tr>
        <th>Rank</th>
        <td>@Model.Rank</td>
    </tr>
    <tr>
        <th>Hiring Date</th>
        <td>@Model.HiringDate</td>
    </tr>
    <tr>
        <th>Is Tenured?</th>
        <td>@tenured</td>
    </tr>
</table>
